<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CNTK.Deps.Cuda" version="2.6.0" targetFramework="net47" />
  <package id="CNTK.Deps.cuDNN" version="2.6.0" targetFramework="net47" />
  <package id="CNTK.Deps.MKL" version="2.6.0" targetFramework="net47" />
  <package id="CNTK.Deps.OpenCV.Zip" version="2.6.0" targetFramework="net47" />
  <package id="CNTK.GPU" version="2.6.0" targetFramework="net47" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net45" />
  <package id="MvvmDialogs" version="5.1.0" targetFramework="net45" />
</packages>